<html>
<head>
    <h1>
        Air Ticket Reservation System
    </h1>
</head>
<body>

    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            padding-left: 2px;
            padding-right: 2px;
        }
    </style>

    Available Flights to Purchase From:
    <table>
        <th>Cost</th>
        <th>Ticket ID</th>
        <th>Airline</th>
        <th>Flight No.</th>
        <th>Departure Date & Time</th>
        <th>Arrival Date & Time</th>
        <th>Status</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>

        {% for line in flights %}
        <tr>
            <td>${{line['base_price']}}</td>
            <td>{{line['ticket_ID']}}</td>
            <td>{{line['airline_name']}}</td>
            <td>{{line['flight_number']}}</td>
            <td>{{line['departure_date_time']}}</td>
            <td>{{line['arrival_date_time']}}</td>
            <td>{{line['flight_status']}}</td>
            <td>{{line['departure_airport_name']}}</td>
            <td>{{line['arrival_airport_name']}}</td>
        </tr>
        {% endfor %}
    </table></br>

    <form action="/customerPurchaseUpdate" method="POST">
        <fieldset><legend><b>Purchase your Ticket Today!</b></legend>
        <b>Ticket ID:</br></b>
        <input type="number" name="ticketID" placeholder="TicketID" required /></br></br>
        <b>Customer Information:</br></b>
        <input type="text" name="Fname" placeholder="First Name" maxlength="225" required /></br>
        <input type="text" name="Lname" placeholder="Last Name" maxlength="225" required /></br>
        <br><b>Payment Information:</br></b>
        <input id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" name="cc-number" maxlength="19" placeholder="XXXX XXXX XXXX XXXX">
        <select name="card type" id="card type">
          <option value="credit">Credit Card</option>
          <option value="debit">Debit Card</option>
        </select></br>
        <input type="text" name="Name of Card" placeholder="Name on Card" maxlength="225" required />
        <input type="date" name="expiration start" value="expiration date" placeholder="yyyy-mm-dd" required />
{#            Start date</br>#}
{#        <input type="date" name="expiration start" value="expiration date" min="2022-12-15" max="2030-12-31">#}
        <br><br>
        <br><input type="submit" value=submit />
        {% if error and not flag%}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
        {% if error and flag%}
            <p class="error"><strong>Success:</strong> {{error}}</p>
        {% endif %}
    </form>
    
    </fieldset> 




    <a href="/customerHome">Go back</a>

</body>

</html>
