<html>
<head>
    <h1>
        NYU Tandon Airline Database System
    </h1>
</head>

<style type="text/css">
    table, th, td {
        border: 1px solid black;
        padding-left: 2px;
        padding-right: 2px;
    }
</style>

<h2>
    All flights purchased
</h2>

<table>
    <th>Airline</th>
    <th>Flight No.</th>
    <th>Departure Date/Time</th>
    <th>Arrival Date/Time</th>
    <th>Base Price</th>
    <th>Status</th>
    <th>Departure Airport</th>
    <th>Arrival Airport</th>
    <th>Airplane</th>

    {% for line in flights %}
    <tr>
        <td>{{line['airline_name']}}</td>
        <td>{{line['flight_number']}}</td>
        <td>{{line['departure_date_time']}}</td>
        <td>{{line['arrival_date_time']}}</td>
        <td>{{line['flight_status']}}</td>
        <td>${{line['base_price']}}</td>
        <td>{{line['departure_airport_name']}}</td>
        <td>{{line['arrival_airport_name']}}</td>
        <td>{{line['airplane_ID']}}</td>
    </tr>
    {% endfor %}
</table></br>

<a href="/frequentCustomers">Go back</a>

</body>

</html>
