<html>
<body>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            padding-left: 2px;
            padding-right: 2px;
        }
    </style>

    <table>
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Status</th>
        <th>Departure Date/Time</th>
        <th>Arrival Date/Time</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Ticket Price</th>
        <th>Purchase Date & Time</th>

        {% for line in flights %}
        <tr>
            <td>{{line['airline_name']}}</td>
            <td>{{line['flight_number']}}</td>
            <td>{{line['flight_status']}}</td>
            <td>{{line['departure_date_time']}}</td>
            <td>{{line['arrival_date_time']}}</td>
            <td>{{line['departure_airport_name']}}</td>
            <td>{{line['arrival_airport_name']}}</td>
            <td>${{line['sold_price']}}</td>
            <td>{{line['purchase_date_time']}}</td>
        </tr>
        {% endfor %}
    </table></br>

</body>

</html>
