<html>
<head>
    <h1>
        Air Ticket Reservation System
    </h1>
</head>
<body>
    <b><h3>Welcome, {{customer['name']}} </h3></br></b>
    <a href="/customerviewflights">My flights</a>
    <br></br>
    <!-- <a href="/viewflights">Search for flights</a>
    <br></br> -->
    <!-- This links doesn't work -->
    <a href="/customerPurchase">Purchase a ticket</a>
    <br></br>
    <!-- This links doesn't work -->
    <a href="/customerRateflight">Rate a flight</a>
    <br></br>
    <!-- This links doesn't work -->
    <a href="/trackSpending">Track my spending</a></br></br>

    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            padding-left: 2px;
            padding-right: 2px;
        }
    </style>

    <b>My upcoming flights:</b>
    <table>
        <th>Airline</th>
        <th>Flight No.</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Arrival Date</th>
        <th>Arrival Time</th>
        <th>Status</th>
        <th>Base Price</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Airplane</th>

        {% for line in flights %}
        <tr>
            <td>{{line['airline_name']}}</td>
            <td>{{line['flight_num']}}</td>
            <td>{{line['depart_date']}}</td>
            <td>{{line['depart_time']}}</td>
            <td>{{line['arrive_date']}}</td>
            <td>{{line['arrive_time']}}</td>
            <td>{{line['flight_status']}}</td>
            <td>${{line['base_price']}}</td>
            <td>{{line['depart_airport']}}</td>
            <td>{{line['arrive_airport']}}</td>
            <td>{{line['airplane_ID']}}</td>
        </tr>
        {% endfor %}
    </table></br>

    <a href="/customerLogout">Logout</a>

</body>

</html>
