<html>
<head>
    <h1>
        Air Ticket Reservation System
    </h1>
</head>
<body>
    <form action="/customerLoginAuth" method="POST">
        <input type="text" name="email" placeholder="email" required /> </br>
        <input type="password" name="password" placeholder="password" required /></br>
        <input type="submit" value=Login />
        {% if error and not flag %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
        {% if error and flag %}
            <p class="error"><strong>Success:</strong> {{error}}</p>
        {% endif %}
    </form>

    <a href="/">Go back</a>

</body>

</html>
