<head>
    <h1>
        Air Ticket Reservation System
    </h1>
</head>

<head>
	<script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
</head>


<body>
    <br> Specify Time Range: </br>
    <form action="/customerSpendingUpdate" method="POST">
        <input type="date" name="Start Date" /> Start Date</br>
        <input type="date" name="End Date" /> End Date</br></br>
        <input type="submit" value=Search />
        {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>

    {{valsOnly}}
	<div id='myDiv'>
    <script>
        // x =  ['giraffes', 'orangutans', 'monkeys', 'dick']
        // y =  [20, 14, 102, 0]
        x =  ['December 2022', 'November 2022', 'October 2022', 'September 2022', 'August 2022', 'July 2022', 'June 2022'];
        y =  ['0.00', '254.00', '112.00', '0.00', '0.00', '254.00', '100.00'];
        var data = [
        {
            x: x,
            y: y,
            type: 'bar'
        }
        ];
        
        Plotly.newPlot('myDiv', data);
    </script>
    </div>
</body>

