<!DOCTYPE html>
<html>

<head>
    <title >
        Air Ticket Reservation System 
    </title>
</head>



<body>
    <!-- <img src="https://media.istockphoto.com/id/155439315/photo/passenger-airplane-flying-above-clouds-during-sunset.jpg?b=1&s=170667a&w=0&k=20&c=0ptevX36IqBQM1P4PoCycpe8Vj-QAhITR7oNn9R991g="
        width="800" 
        height="900"> -->
    <style> 
        body {

            /* 
            https://wallpaper.dog/large/10878270.jpg
            */
            background-image:url('https://media4.giphy.com/media/sRHVFZVZlHsOBwYTFn/giphy.gif'); 
            background-repeat:repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    <h1 align="center" style="color:#236598;" style = font-size:50px> Air Ticket <br> Reservation System </h1></br>


    <a href="/viewflights" style="color:#FF0000;"> Search Upcoming Flights</a>
    <br></br>
    <a href="/staffLogin" style="color:#FF0000;"> Staff Login</a>
    <br></br>
    <a href="/staffRegister" style="color:#FF0000;"> Staff Register</a>
    <br></br>
    <a href="/customerLogin" style="color:#FF0000;"> Customer Login</a>
    <br></br>
    <a href="/customerRegister" style="color:#FF0000;"> Customer Register</a>
    <br></br>
    <a href="/testing"> Testing </a>

    
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}





</body>

</html>